---
// Importing necessary modules and components
import { getCollection } from 'astro:content';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import PostCard from '../../../components/PostCard.astro';
import Pagination from '../../../components/Pagination.astro';

// Function to generate static paths for pagination in each category
export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection('posts');
  // Extract unique categories from all posts
  const uniqueCategory = [...new Set(allPosts.map((post) => post.data.category).flat())];

  // Create paginated paths for each category
  return uniqueCategory.flatMap((category) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.category.includes(category)
    );
    // Sort posts by publication date
    filteredPosts.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());

    // Handle pagination using the paginate method
    return paginate(filteredPosts, { pageSize: 15, params: { category } });
  });
}

// Retrieving category and page data from Astro.props
const { category, page } = Astro.props;
---

<BaseLayout pageTitle={category}>
  {/* Grid layout for posts */}
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4'>
    {/* Map through the posts data for the current page */}
    {page.data.map((post) => (
      <PostCard post={post} />
    ))}
  </div>

  {/* Pagination component for navigation */}
  <Pagination
    currentPage={page.currentPage}
    lastPage={page.lastPage}
    urlPrev={page.url.prev}
    urlNext={page.url.next}
  />
</BaseLayout>