---
import type { CollectionEntry } from "astro:content";
import OptimizedCover from "@components/OptimizedPicture.astro";
import FormattedDate from "@components/FormattedDate.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<div
  class="relative bg-white rounded-xl dark:bg-neutral-900 transition-transform duration-500 hover:scale-105 hover:-translate-y-1 overflow-hidden"
>
  <a href={`/posts/${post.slug}/`} class="block">
    <OptimizedCover src={post.data.cover} alt={post.data.coverAlt} />
    <div class="absolute bottom-0 start-0 end-0 p-4 md:p-5 bg-gradient-to-t">
      <h3 class="mt-8 text-lg font-bold text-white">{post.data.title}</h3>
      <div class="flex justify-between items-center mt-3 text-xs text-white">
        <span>{post.data.tags.join(" ")}</span>
        <FormattedDate date={post.data.pubDate} />
      </div>
    </div>
  </a>
</div>
