---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

interface Props {
  post: CollectionEntry<'posts'>;
  imgWidth?: number;
  imgHeight?: number;
  eagerLoad?: boolean;
  isSpecialCard?: boolean;
}

const { post, isSpecialCard = false } = Astro.props;
---
<a href={`/${post.slug}`} class="postcard-link not-prose">
  <article class={`postcard-article ${isSpecialCard ? 'postcard-article-special' : ''}`}>
    <div class={`postcard-image-container ${isSpecialCard ? 'postcard-image-container-special' : ''}`}>
      <Image 
        src={post.data.cover}
        alt={post.data.coverAlt}
        width={672}
        height={378}
        format='webp'
        loading={isSpecialCard ? 'eager' : 'lazy'}
      />
    </div>
    <div class={`postcard-content ${isSpecialCard ? 'postcard-content-special' : ''}`}>
      <span class="postcard-date">{new Date(post.data.pubDate).toLocaleDateString()}</span>
      <span class="postcard-category">{post.data.category[0]}</span>
      <h2 class="postcard-title">{post.data.title}</h2>
      {isSpecialCard ? <p class="postcard-description-special">{post.data.description}</p> : ''}
    </div>
  </article>
</a>