---
import type { CollectionEntry } from 'astro:content';
import { Picture } from 'astro:assets';

interface Props {
  post: CollectionEntry<'posts'>;
  isSpecialCard?: boolean;
}

const { post, isSpecialCard = false } = Astro.props;

if (!post || !post.data) {
  throw new Error("Post or post.data is undefined");
}

const { cover, coverAlt, pubDate, category, title, description } = post.data;
---

<a href={`/${post.slug}/`} class="postcard-link not-prose">
  <article class={`postcard-article ${isSpecialCard ? 'postcard-article-special' : ''}`}>
    <div class={`postcard-image-container ${isSpecialCard ? 'postcard-image-container-special' : ''}`}>
      <Picture
        src={cover}
        alt={coverAlt}
        width="980"
        height="551"
        formats={['avif']}
        fallbackFormat='avif'
        loading="lazy"
        class="w-full h-auto"
    />
    </div>
    <div class={`postcard-content ${isSpecialCard ? 'postcard-content-special bg-neutral-0' : 'bg-gradient-to-t from-neutral-950 to-transparent'}`}>
      <span class="postcard-date">{new Date(pubDate).toLocaleDateString()}</span>
      <span class="postcard-category">{category[0]}</span>
      <h1 class="postcard-title">{title}</h1>
      {isSpecialCard ? <p class="postcard-description-special">{description}</p> : ''}
    </div>
  </article>
</a>


