---
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} description={frontmatter.description} cover={frontmatter.cover}>
  <head>
    <link rel='stylesheet' href='https://unpkg.com/@waline/client@v2/dist/waline.css' />
  </head>
  <div class='max-w-2xl mx-auto'>
    {frontmatter.cover && (
      <Image
        src={frontmatter.cover}
        alt={frontmatter.coverAlt}
        width={672}
        height={378}
        format='webp'
        loading='eager'
      />
    )}
  </div>
  <article class='max-w-2xl mx-auto'>
    <slot />
  </article>
</BaseLayout>