---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import { Picture } from 'astro:assets';

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;

let title = '';
let description = '';
let cover = '';
let coverAlt = '';

if (post && post.data) {
  ({ title, description, cover, coverAlt } = post.data);
}
---
<BaseLayout pageTitle={title} description={description} ogImage={cover}>
  <div class='max-w-2xl mx-auto'>
    {cover && (  
    <Picture
        src={cover}
        alt={coverAlt}
        width="980"
        height="551"
        formats={['avif']}
        fallbackFormat='avif'
        loading="eager"
        class="w-full h-auto"
    />
    )}
  </div>
  <article class='max-w-2xl mx-auto'>
    <slot />
  </article>
</BaseLayout>